.profile .photo-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.profile .fa-cog {
  color: gray;
  display: block;
  float: right;
  margin-right: 30px;
}
.profile .profile-img {
  margin: 0 auto;
  height: 150px;
  border-radius: 50%;
}

.profile section {
  margin: 50px 20px;
}
.profile .following, .profile .products {
  background-color: #28B5B5;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  margin: 0 30px;
}

.profile .details, .profile .monthly-report {
  background-color: #8FD9A8;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  width: 80vw;
}

.profile .carbon-footprint {
  background-color: #28B5B5;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  width: 80vw;
}

.profile p, .profile h4 {
  margin: 0px;
  text-align: left;
}

.profile .monthly-report img {
  margin: 15px 0;
  width: 60vw;
}

.profile .carbon-footprint img {
  margin: 15px 0;
  width: 40vw;
}
